* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(240deg,
            rgba(0, 0, 0, 1) 27%,
            rgba(0, 212, 255, 1) 91%);
    color: #fff;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 1rem;
}

.pre-img-box {
    border: 2px outset #fff;
    min-height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pre-img {
    width: 100%;
    height: 100%;
    display: none;
}

span {
    font-size: 1.2rem;
    font-weight: 400;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    width: 40%;
    color: #000;
    background-color: yellow;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    position: fixed;
    inset: auto 0 0 0;
    background-color: black;
}

footer a {
    padding: 0.4rem 2rem;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        letter-spacing: normal;
    }

    .pre-img-box {
        height: 300px;
        margin: 10px 5px;
    }

    label {
        width: 80%;
    }

    footer {
        padding-left: 1rem;
    }
}